@{
    ViewBag.Title = "shop";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@model IEnumerable<DoAn.Models.SANPHAM>

<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <!-- Nội dung của danh mục -->
                    @Html.Action("DanhMucPar", "DanhMuc")
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    @using (Html.BeginForm("Shop", "Home", FormMethod.Get))
                    {
                        <div class="d-flex">
                            <select class="form-control" id="sortOrder" name="sortOrder" onchange="this.form.submit()">
                                <option value="Featured" @(ViewBag.SortOrder == "Featured" ? "selected" : "")>Featured</option>
                                <option value="AtoZ" @(ViewBag.SortOrder == "AtoZ" ? "selected" : "")>A to Z</option>
                                <option value="PriceHighLow" @(ViewBag.SortOrder == "PriceHighLow" ? "selected" : "")>Price: High-Low</option>
                                <option value="PriceLowHigh" @(ViewBag.SortOrder == "PriceLowHigh" ? "selected" : "")>Price: Low-High</option>
                            </select>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 pr">
                            <img src="~/assets/Images/@item.HINHANH.AnhChinh" class="card-img-top img-fluid" alt="@item.TenSanPham" style="height:100%" onclick="showProductDetail(@item.ID_SanPham)">
                            <div class="card-body text-center">
                                @if (item.TenSanPham.Length > 30)
                                {
                                    <h5 class="card-title">@item.TenSanPham.Substring(0, 30)...</h5>
                                }
                                else
                                {
                                    <h5 class="card-title">@item.TenSanPham</h5>
                                }
                                <p class="card-text text-danger">$<b>@item.DonViGia</b></p>
                                <a href="@Url.Action("XemChiTietSanPham", "Giay", new { mg = item.ID_SanPham })" class="btn btn-light btn-outline-dark ">View Details</a>
                                <a href="#" class="btn btn-dark btn-outline-light cart-action mt-2" data-action="cart" data-product-id="@item.ID_SanPham">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!-- Pagination Section -->
                <ul class="pagination pagination-lg justify-content-end">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="@Url.Action("Shop", new { page = i, sortOrder = ViewBag.SortOrder })">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- End Content -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Brands</h1>
                <p>
                    It is important to have a good customer to be successful,
                    but it is important to have a good customer.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".cart-action").click(function(e) {
            e.preventDefault();

            var action = $(this).data("action");
            var productId = $(this).data("product-id");
            var quantity = 1; // Assuming quantity is 1, you can change this logic as needed
            var isBuyNow = action === "buy";

            $.ajax({
                url: '@Url.Action("ThemGioHang", "GioHang")',
                type: 'GET',
                data: { ms: productId, quantity: quantity, isBuyNow: isBuyNow },
                success: function(response) {
                    if (isBuyNow) {
                        window.location.href = '@Url.Action("GioHang", "GioHang")';
                    } else {
                        alert("Sản phẩm đã được thêm vào giỏ hàng");
                        // Update cart count or other UI changes if needed
                    }
                },
                error: function(xhr, status, error) {
                    alert("Có lỗi xảy ra, vui lòng thử lại sau.");
                }
            });
        });
    });
</script>
