@model DoAn.Models.USER

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                @if (Model != null)
                {
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                     alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                                <h5><span style="color: black;">@Model.HoTen</span></h5>
                                <a href="@Url.Action("Edit", "Home")" class="btn btn-info"><i class="far fa-edit"></i> Chỉnh Sửa</a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>Information</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted">@Model.Email</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Phone</h6>
                                            <p class="text-muted">@Model.SoDienThoai</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Ngày Sinh</h6>
                                            <p class="text-muted">@((Model.NgaySinh.HasValue) ? Model.NgaySinh.Value.ToString("dd/MM/yyyy") : "")</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Địa Chỉ</h6>
                                            <p class="text-muted">@Model.DiaChi</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>Giới Tính</h6>
                                            <p class="text-muted">@Model.GioiTinh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <p style="text-align:center">Không có thông tin người dùng.</p>
                }
            </div>
        </div>
    </div>
</section>
