@model IEnumerable<DoAn.ViewModel.SanPhamViewModel>

@{
    ViewBag.Title = "ShowListProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm Sản Phẩm", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenSP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenAnhChinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongTon)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        <img src="~/assets/Images/@item.TenAnhChinh" style="width:70px;" class="img-thumbnail" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongTon)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-12 text-center">
            <!-- Pagination Section -->
            <ul class="pagination justify-content-end">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("ShowListProduct", new { page = i })">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
